*,
*::after,
*::before {
    box-sizing: border-box;
}

h1 {
    margin: 5% 0;
    text-align: center;
    font-size: 2.3rem;
}

img {
   height: 60%;
}

i {
    font-size: x-large;
}

span {
    font-size: 2rem;
    
}

h3 {
    font-size: 1.8rem;
    margin-left: .5rem;
    margin-bottom: .2rem ;
}

.secondary {
    font-size: 1.3rem;
}

@media (min-width: 900px) {
    h3 {
        font-size: 1.6rem;
    }

    img {

        height: 50%;
    }

    span {
        font-size: 1.5rem;
    }
     
    h1 {
      font-size: 2rem;
    }
    
    .secondary {
        font-size: 1.1rem;
    }

}

.imagen-valor {
    display: flex;
}


.tarjeta {
    background: linear-gradient(0deg, rgb(17, 25, 31), rgb(70, 46, 46));
    position: relative;
    width: 100%;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
}


.glow::before,
.glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #ebfb04, #ff6600, #00ff66, #00ffff,
            #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 1.2em;
    z-index: -1;
    animation: animar 15s infinite linear;
}

@keyframes animar {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(.2em);
}

.footer {
    color: #8dcaee;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.25rem;;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.link-mail:hover{
    opacity: .7;
}

@media only screen and (min-width: 768px) {
    .cards_container {
        margin: 0 10rem;
    }
}
